*, html{
    margin: 0;
    padding: 0;

    
}



.header{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

}

.header h3{
    font-size: 24px;
}

.links{
    display: flex;
    justify-content: space-between;
    gap: 150px;
}

a{
    text-decoration: none;
    color: white;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 2px dotted gray;
    
}



.content-header{ background-color: #1F2937;
                display: flex;
                justify-content: space-between;
                padding-top: 60px;
                padding-bottom: 30px;
                color: white;
                gap: 500px;

}

.mid-header{
    width: 400px;
}

.mid-header p{   font-size: 14px;
    color: #E5E7EB;
}

img{
    width: 400px;
    height: 200px;
    display: block;
    
}

.button{
    background-color:#3882F6 ;
    color: white;
    padding: 4px 12px;
    margin: 4px 2px ;
    border-radius: 10px;
    border-color: white;
}

.header,
.content-header{
    padding-left: 150px;
    padding-right: 100px;

}

/* this is the mid section*/
.title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 40px;
    color: gray;
    margin-top: 20px;
    
}

.container{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 0 700px;
    margin-right: 20px;
    

}

.info{
    width: 300px;
    margin: 0;
    padding: 0;


}

.text{
    text-align: center;
    color: gray;

}


.spacing-pics{
    display: flex;
    justify-content: space-between;
}

/* third section css*/
.quote-container{
    background-color: #E5E7EB;
    height: 200px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}


.quote{
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    font-style: italic;
    color: darkgoldenrod
}

/* 4th section css*/
.sign-up-container{
    background-color: white;
    
}
.inside-sign-up{
    background-color: #3882F6;
    padding: 40px;
    margin: 30px 200px;
    border-radius: 20px;
}

.info-signup{
    display: flex;
    justify-content: center;
    gap: 60px;
    color: white;
}

.button-2{
    background-color:#3882F6 ;
    color: white;
    padding: 4px 12px;
    margin: 4px 2px ;
    border-radius: 10px;
    border-color: white;
}
/* footer css*/
.footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 40px;
    
}

.footer-text{
    align-items: center;
    color: white;
    font-style: italic;
    
    
}

